// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

img {
	max-width: 100%;
	height: auto;
}
footer {
	text-align: center;
	margin-bottom: 10px;
}
#law {
	h2 {
		margin-top: 20px;
	}
	p {
		margin-bottom: 0;
	}
}