// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

img {
	max-width: 100%;
	height: auto;
}
footer {
	text-align: center;
	margin-bottom: 10px;
	a {
		padding: 3px 10px;
	}
	a:not(:first-of-type) {
		border-left: 1px solid rgba(0, 0, 0, 0.25);
	}
}
#law {
	h2 {
		margin-top: 20px;
	}
	p {
		margin-bottom: 0;
	}
}