body {
    background-image: url(background.jpg);
}

body:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

ul,
li,
p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.head_img,
.container>div>img {
    width: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
}

h1,
h2,
h3,
p,
.hqr-item-name,
.hqr-item-summary p,
.hqr-item-price {
    font-family: 'Noto Sans JP', sans-serif;
}

.center {
    text-align: center;
    margin: 0 auto;
}


/* ---main---*/

.hqr-item {
    margin-bottom: 12rem;
}

h2.hqr-item-name {
    font-size: 1.2em;
    line-height: 1.2;
    border-bottom: 1px solid #444;
    padding: .5rem;
}

.inner-category {
    padding: 2rem 0;
    font-size: 2em;
}

#dropdownMenuButton {
    width: 100%;
}

.hqr-select-language {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

.btn-primary {
    background-color: #AAD4FF;
    border: none;
}

.btn-primary a {
    color: #707070;
}

.menu-item-img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.hqr-item-allergy-list {
    margin: 1rem auto;
}

.hqr-item-price {
    text-align: right;
    font-size: 1.5rem;
}

.hqr-item-price span {
    padding-right: .5rem;
}

.menu-cart,
.quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 2rem;
    padding: .5rem .8rem;
    margin: 1rem auto;
}


/* ---footer--- */

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-now-cart,
.footer-now-finish {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-now-cart {
    background-color: #fff;
    padding: .5rem .5rem;
}

.footer-now-cart>button,
.footer-now-finish>div>button {
    font-size: .9rem;
    background-color: #AAD4FF;
    padding: .5rem;
    display: block;
    width: 140px;
}

.footer-now-finish>div>button:first-child {
    margin-bottom: .5rem;
}

.footer-now-finish {
    background-color: #707070;
    color: #fff;
    padding: .8rem .5rem;
}


/* ---CART--- */

.order-menu {
    margin-bottom: 12rem;
}

#cart h1 {
    text-align: center;
    width: 100%;
    background-color: #707070;
    color: #fff;
}

.price {
    text-align: right;
    font-size: 1.5rem;
}

.quantity p {
    font-size: 1.2rem;
    padding-left: 1rem;
}

#cart footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-pre-total {
    background-color: #fff;
    font-size: 1.2rem;
}

.total-price {
    background-color: #ACACAC;
    color: #fff;
    padding: .3rem;
    font-size: .8rem;
}

.pre-total {
    font-size: 1.5rem;
}

.cart-footer-flx {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .5rem;
    color: #707070;
}

.cart-footer-flx p {
    font-size: .8rem;
}

.cart-footer-flx div {
    font-size: .8rem;
}

.footer-pre-total-button {
    width: 50%;
    text-align: right;
}

.footer-pre-total-button button {
    border: .02rem solid #AAD4FF;
    background-color: #AAD4FF;
    color: #707070;
    width: 140px;
}

.footer-pre-total-button button:first-child {
    margin-bottom: .5rem;
}


/*---注文完了画面---*/

.comp-p {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 5rem auto;
}

.comp-box {
    border: .05rem solid #707070;
    background-color: #fff;
    padding: 1rem;
    margin: 0 auto 12rem auto;
    max-width: 768px;
    width: 95%;
}

.comp-box h1 {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.comp-box section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.comp-box section p:first-child {
    width: 60%;
}

.comp-box section p {
    width: 20%;
}

.tax-rate {
    font-size: .8rem;
    text-align: right;
}

.back-menu {
    border: .01rem solid #707070;
    margin: 1rem 0 1rem auto;
    display: block;
}

.butoon-blue {
    background-color: #AAD4FF;
    color: #707070;
}

.border {
    border-bottom: 1px dashed #707070;
    margin: 1rem auto;
    width: 95%;
}

.payment-box {
    text-align: right;
}

.w140 {
    width: 140px;
}

.tax-in-total-price {
    display: flex;
    justify-content: space-between;
}

.tax-in-total-price p {
    width: 45%;
}

.tax-in-total-price div {
    width: 55%;
}

.tax-in-total-price p span {
    font-size: 1.2rem;
    font-weight: bold;
}